.skin-black-light .main-header .navbar {
    background-color: #7ed0c0;
}

.skin-black-light .main-header > .logo {
    background-color: #7ed0c0;
    border-right: 1px solid #7ed0c0;
}

.skin-black-light .main-header > .logo:hover {
    background-color: #7ed0c0;
    border-right: 1px solid #7ed0c0;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side {
    background-color: #7ed0c0;
}

.skin-black-light .main-header .navbar .nav > li > a {
    color: #fff;
}

.skin-black-light .sidebar a {
    color: #fff;
}

.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    color: #fff;
    background: #6dbdad;
}

.skin-black-light .main-header .navbar .nav > li > a:hover, .skin-black-light .main-header .navbar .nav > li > a:active, .skin-black-light .main-header .navbar .nav > li > a:focus, .skin-black-light .main-header .navbar .nav .open > a, .skin-black-light .main-header .navbar .nav .open > a:hover, .skin-black-light .main-header .navbar .nav .open > a:focus, .skin-black-light .main-header .navbar .nav > .active > a {
    background: #7ed0c0;
    color: #fff;
}

.skin-black-light .main-header .navbar > .sidebar-toggle {
    color: #fff;
}

.skin-black-light .main-header .navbar .sidebar-toggle:hover {
    color: #fff;
    background: #6dbdad;
}

.skin-black-light .sidebar-menu > li > .treeview-menu {
    background: #6dbdad;
}

.skin-black-light .treeview-menu > li > a {
    color: #fff;
}

.skin-black-light .treeview-menu > li.active > a, .skin-black-light .treeview-menu > li > a:hover {
    color: #fff;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #7ed0c0;
}

.btn-purple {
    background-color: #A892C3;
    border-color: #ccb8e4;
    color: #fff;
}

.btn-purple:hover, .btn-purple:active, .btn-purple.hover {
    background-color: #8b74a9;
    border-color: #9c83bf;
    color: #fff;
}

.btn-purple:focus,
.btn-purple.focus {
    background-color: #8b74a9;
    border-color: #9c83bf;
    color: #fff;
}

.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus {
    background-color: #b9afc3;
    border-color: #d5c9d9;
    color: #d2d2d2;
}

.btn-purple:active:hover,
.btn-purple.active:hover,
.open > .dropdown-toggle.btn-purple:hover,
.btn-purple:active:focus,
.btn-purple.active:focus,
.open > .dropdown-toggle.btn-purple:focus,
.btn-purple:active.focus,
.btn-purple.active.focus,
.open > .dropdown-toggle.btn-purple.focus {
    background-color: #8b74a9;
    border-color: #9c83bf;
    color: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.form-control:focus {
    border-color: #7ed0c0;
}