.skin-black-light .main-header .navbar {
    background-color: #7ed0c0;
}

.skin-black-light .main-header > .logo {
    background-color: #7ed0c0;
    border-right: 1px solid #7ed0c0;
}

.skin-black-light .main-header > .logo:hover {
    background-color: #7ed0c0;
    border-right: 1px solid #7ed0c0;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side {
    background-color: #7ed0c0;
}

.skin-black-light .main-header .navbar .nav > li > a {
    color: #fff;
}

.skin-black-light .sidebar a {
    color: #fff;
}

.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    color: #fff;
    background: #6dbdad;
}

.skin-black-light .main-header .navbar .nav > li > a:hover, .skin-black-light .main-header .navbar .nav > li > a:active, .skin-black-light .main-header .navbar .nav > li > a:focus, .skin-black-light .main-header .navbar .nav .open > a, .skin-black-light .main-header .navbar .nav .open > a:hover, .skin-black-light .main-header .navbar .nav .open > a:focus, .skin-black-light .main-header .navbar .nav > .active > a {
    background: #7ed0c0;
    color: #fff;
}

.skin-black-light .main-header .navbar > .sidebar-toggle {
    color: #fff;
}

.skin-black-light .main-header .navbar .sidebar-toggle:hover {
    color: #fff;
    background: #6dbdad;
}

.skin-black-light .sidebar-menu > li > .treeview-menu {
    background: #6dbdad;
}

.skin-black-light .treeview-menu > li > a{
    color: #fff;
}

.skin-black-light .treeview-menu > li.active > a, .skin-black-light .treeview-menu > li > a:hover {
    color: #fff;
}

.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #7ed0c0;
}


.btn-primary {
    background-color: #A892C3;
    border-color: #ccb8e4;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #8b74a9;
    border-color: #9c83bf;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: #8b74a9;
    border-color: #9c83bf;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #b9afc3;
    border-color: #d5c9d9;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #8b74a9;
    border-color: #9c83bf;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}