/*flama font*/

@font-face {
    font-family: 'Flama';
    src: url("../fonts/flama/Flama-Bold.eot");
    src: url("../fonts/flama/Flama-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Bold.woff") format("woff"), url("../fonts/flama/Flama-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url("../fonts/flama/Flama-Medium.eot");
    src: url("../fonts/flama/Flama-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Medium.woff") format("woff"), url("../fonts/flama/Flama-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url("../fonts/flama/Flama-Light.eot");
    src: url("../fonts/flama/Flama-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Light.woff") format("woff"), url("../fonts/flama/Flama-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama Book';
    src: url("../fonts/flama/Flama-BookItalic.eot");
    src: url("../fonts/flama/Flama-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-BookItalic.woff") format("woff"), url("../fonts/flama/Flama-BookItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url("../fonts/flama/Flama-Semibold.eot");
    src: url("../fonts/flama/Flama-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Semibold.woff") format("woff"), url("../fonts/flama/Flama-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Flama Book';
    src: url("../fonts/flama/Flama-Book.eot");
    src: url("../fonts/flama/Flama-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Book.woff") format("woff"), url("../fonts/flama/Flama-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url("../fonts/flama/Flama-Black.eot");
    src: url("../fonts/flama/Flama-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Black.woff") format("woff"), url("../fonts/flama/Flama-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/*end of flama font*/

.required label::after {
    content: " *";
    color: #ff0000;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.p-10 {
    padding: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-20 {
    padding: 20px;
}

.tbl-site > thead > tr > th {
    padding-left: 15px;
    padding-right: 15px;
}

.product-container {
    width: 250px;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.callout.callout-default {
    border-color: lightgrey;
}

.callout.callout-default {
    background-color: white;
}

.product-container.chosen {
    border-color: #24e900;
    outline: 0;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .075), 0 0 10px rgba(134, 233, 118, 0.9);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .075), 0 0 10px rgba(134, 233, 118, .9);
}

.product-container.selected {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .075), 0 0 10px rgba(102, 175, 233, .9);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .075), 0 0 10px rgba(102, 175, 233, .9)
}

.registration-panel {
    display: none;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu {
    min-width: 100px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li {
    position: relative;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li.header {
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li.footer > a {
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
}

.form-control-inline {
    display: inline;
    width: auto;
}

@media (max-width: 991px) {
    .navbar-nav > .spotlite-user-menu > .dropdown-menu > li.footer > a {
        background: #fff !important;
        color: #444 !important;
    }
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li.footer > a:hover {
    text-decoration: none;
    font-weight: normal;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu {
    max-height: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu > li > a {
    display: block;
    white-space: nowrap;
    /* Prevent text from breaking */
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu > li > a {
    padding: 10px;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu > li > a > h3 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #666666;
}

.navbar-nav > .spotlite-user-menu > .dropdown-menu > li .spotlite-menu > li > a > .progress {
    padding: 0;
    margin: 0;
}

.modal-header .close {
    margin: 0;
}

.modal-header {
    padding: 7px 15px;
}

td.shrink, th.shrink {
    width: 1%;
}

.spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 99998;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.spinner-img {
    position: fixed;
    margin-left: -30px;
    margin-top: -30px;
    left: 50%;
    top: 50%;
    z-index: 99999;
}

.spinner-core {
    position: fixed;
    margin-left: -30px;
    margin-top: -30px;
    left: 50%;
    top: 50%;
    z-index: 99999;
    width: 62px; /* Viewport Width */
    height: 62px; /* Viewport Height (~ 199.42px) */
    background: transparent url('http://login.spotlite.com.au/images/spinner_sprite_62x62.png') 0 0 no-repeat; /* Our sprite as viewport background */
    animation: spinner 1s steps(19) infinite; /* The Animation */
    -moz-animation: spinner 1s steps(19) infinite;
    -webkit-animation: spinner 1s steps(19) infinite;
}

@keyframes spinner {
    100% {
        background-position: 0 -1178px;
    }
}

@-moz-keyframes spinner {
    100% {
        background-position: 0 -1178px;
    }
}

@-webkit-keyframes spinner {
    100% {
        background-position: 0 -1178px;
    }
}

.sl-control-label {
    font-weight: normal;
}

.sl-form-control {
    width: auto;
    max-width: 100%;
}

table th.action-cell,
table td.action-cell {
    width: 100px;
}

.category-name-link:hover, .product-name-link:hover {
    color: #777;
    cursor: default;
}

table td.table-container {
    padding-right: 20px !important;
    padding-left: 0 !important;
}

.btn-action, .btn-collapse {
    color: #8c8c8c;
}

.btn-collapse i.fa-angle-up {
    transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.btn-collapse.collapsed i.fa-angle-up {
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.btn-action {
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.btn-category-dragger .fa-bookmark,
.btn-category-dragger .fa-tag {
    font-size: 30px;
    margin-left: 10px;
}

.btn-edit.btn-edit-category,
.btn-edit.btn-edit-product,
.btn-edit.btn-edit-site {
    margin-left: 30px;
    color: #aaa;
    font-size: 12px;
}

.btn-edit.btn-edit-category,
.btn-edit.btn-edit-product,
.btn-edit.btn-edit-site .btn-edit-align-middle {
    cursor: pointer;
}

.category-name-link {
    font-size: 18px;
    line-height: 46px;
}

.list-container table {
    margin-bottom: 0;
}

.category-wrapper {
    margin-bottom: 10px;
}

.tbl-category {
    background-color: #f0f0f0;
}

.collapsible-category-div table.product-wrapper {
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-box-shadow: -5px 4px 10px -5px rgba(219, 219, 219, 1);
    -moz-box-shadow: -5px 4px 10px -5px rgba(219, 219, 219, 1);
    box-shadow: -5px 4px 10px -5px rgba(219, 219, 219, 1);
}

.collapsible-category-div table.product-wrapper > thead > tr > th:first-child,
.collapsible-category-div table.product-wrapper > tbody > tr > td:first-child {
    padding-left: 15px !important;
}

.collapsible-category-div table.product-wrapper > thead > tr > th:last-child,
.collapsible-category-div table.product-wrapper > tbody > tr > td:last-child {
    padding-right: 15px;
}

.collapsible-category-div table.product-wrapper thead tr:first-child th {
    padding-top: 10px;
}

.collapsible-category-div table.product-wrapper tbody tr:last-child td {
    /*padding-bottom: 10px;*/
}

.product-wrapper table.tbl-site {
    /*background-color: #f5f5f5;*/
}

table.tbl-site.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

table.tbl-site.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}

.tbl-category th, .tbl-category td {
    border: none !important;
}

.hamburger-container, .cross-container {
    vertical-align: middle !important;
}

.sl-input-group {
    width: 250px;
}

.frm-delete-category, .frm-delete-product, .frm-delete-site,
.frm-edit-category, .frm-edit-product {
    display: inline-block;
}

.category-th, .product-th {
    vertical-align: middle !important;
    height: 40px !important;
}

.product-th.action-cell {
    padding-right: 25px;
    width: 100px;
}

.category-th.action-cell {
    padding-right: 25px;
    width: 200px;
}

a.btn-action.editing i {
    color: #0eb17d;
}

.text-light {
    color: #9c9c9c;
}

.frm-edit-category, .frm-edit-product,
.frm-delete-category, .frm-delete-product, .frm-delete-site {
    vertical-align: middle;
}

.alert-enabled {
    color: #3c763d;
}

td.ellipsis,
th.ellipsis {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.float-right {
    float: right;
}

.text-muted-further {
    color: #bbb;
}

.break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

.xpath-wrapper {
    padding-right: 20px;
    position: relative;
}

.btn-edit-xpath {
    position: absolute;
    top: 0;
    right: 0;
}

.category-wrapper.moving {
    opacity: 0.9;
}

.category-wrapper.moving .tbl-category {
    border: 1px dashed darkgrey;
}

.btn-category-dragger, .btn-product-dragger {
    cursor: move;
}

.highcharts-contextmenu hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

/*.site-wrapper td:not(:last-child){*/
/*border: 1px solid #e6e6e6 !important;*/
/*}*/

td.add-item-cell, th.add-item-cell {
    padding: 0px !important;
}

th.category-th.action-cell.add-item-cell {
    padding-right: 20px !important;
}

.site-wrapper {
    cursor: move;
}

.site-wrapper td.site-url .tooltip-inner,
.site-wrapper td.site-url .popover-content {
    word-break: break-all;
    word-wrap: break-word;
}

.cancel-subscription-panel {
    display: none;
}

#tbl-report-task .popover,
#tbl-alert .popover {
    font-size: 11px;
}

#tbl-report-task .popover .popover-content,
#tbl-alert .popover .popover-content {
    padding: 5px 7px;
}

.sl-form-horizontal .control-label {
    text-align: left;
}

.sl-form-control[type=checkbox] {
    vertical-align: middle;
    margin-top: 0;
    margin-left: 5px;
}

.content-header {
    min-height: 41px;
}

.sidebar-menu .divider {
    min-height: 1px;
    background: #8aa4af;
}

body {
    padding-right: 0px !important;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

h3.box-title {
    padding-right: 100px;
}

.widget-container .popover {
    min-width: 200px;
    text-align: center;
    font-size: 12px;
}

.widget-container .box-title {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    width: 100%;
    height: 20px;
}

.tour-backdrop {
    opacity: 0.6 !important;
}

.main-header .sidebar-toggle:before {
    content: "\f100";
}

.main-header .sidebar-toggle {
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.sidebar-open .main-header .sidebar-toggle {
    transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.add-item-block {
    border: 2px dashed lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #777;
    font-weight: bold;
    height: 65px;
    cursor: pointer;
}

.add-item-block .add-item-label, .add-item-block .upgrade-for-add-item-controls {
    padding: 19px 19px 19px 50px;
}

.add-item-block .add-item-controls {
    background-color: #fff;
    padding: 13px;
}

@media (min-width: 765px) {
    .add-item-block .add-item-controls {
        padding-left: 50px;
    }
}

.add-item-block span.add-item-text {
    font-size: 14px;
    vertical-align: middle;
}

.add-item-block i.fa-plus {
    font-size: 25px;
    vertical-align: middle;
}

.add-item-block .txt-item {
    border: none;
}

.add-item-block .add-item-controls input {
    font-size: 18px;
}

.add-item-block .add-item-controls {
    display: none;
}

.add-item-label.add-site-label {
    padding-top: 18px;
    padding-bottom: 18px;
}

.site-label-text-container {
    display: inline-block;
    vertical-align: middle;
}

.main-header .logo {
    height: 100px;
}

.logo-mini {
    padding-top: 25px;
    padding-bottom: 25px;
}

.general-search-input {
    border-radius: 20px;
    height: 45px;
    padding-left: 35px;
    padding-right: 35px;
}

.box-body.product-list-page-content {
    padding: 40px;
    background-color: #FAFAFA;
}

.search-input .ico-search {
    height: 100%;
    width: 40px;
    position: absolute;
    text-align: center;
}

.search-input .ico-search .search-icon {
    position: relative;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
}

.search-input .btn-clear-search {
    height: 100%;
    width: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

.search-input .btn-clear-search .clear-icon {
    position: relative;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ico-alert-enabled, .ico-report-enabled {
    color: #7ED0C0;
}

@media (min-width: 768px) {
    .navbar-custom-menu {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (min-width: 991px) {
    .navbar > .sidebar-toggle {
        height: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-custom-menu {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.navbar-custom-menu > .navbar-nav li:first-child a {
    border-left: none !important;
}

.skin-black-light .main-header .navbar > .sidebar-toggle {
    border-right: none;
}

.main-sidebar, .left-side {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .main-sidebar, .left-side {
        padding-top: 150px;
    }
}

.errors-container {
    padding-left: 0px;
    list-style: none;
}

.errors-container li:before {
    content: "\f06a";
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-menu > li > a {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-menu li.treeview > a > .fa-caret-down,
.sidebar-menu li.treeview > a > .pull-right-container > .fa-caret-down {
    transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.sidebar-menu li.treeview.active > a > .fa-caret-down,
.sidebar-menu li.treeview.active > a > .pull-right-container > .fa-caret-down {
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.sidebar-menu li > a > .pull-right-container.btn-reorder-dashboard {
    top: 12px;
}

#init-update-form .form-group {
    position: relative;
}

#init-update-form .form-group.required::before {
    content: "*";
    color: red;
    font-weight: bold;
    position: absolute;
    left: -10px;
    top: 10px;
}

section.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

section.content-header {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.content-header h2 {
    margin: 5px 0px;
}

tr.empty-message-row td {
    font-weight: bold;
    padding: 20px 20px 20px 55px !important;
    font-size: 16px;
    color: #777;
}

@media (min-width: 991px) {
    .delete-popup-content-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.delete-popup-subheading, .delete-popup-list {
    font-size: 15px;
}

@media (min-width: 991px) {
    .tbl-site th, .tbl-site td {
        font-size: 13px;
    }

    .tbl-site th, .tbl-site tr.site-wrapper td, .tbl-site tr.add-site-row td {
        padding: 15px;
    }
}

tr.site-wrapper td.site-url {
    position: relative;
    padding-right: 50px !important;
}

/*td.site-url a {*/
/*line-height: 60px;*/
/*}*/
tr.add-site-row {
    background-color: #fff !important;
}

.btn-edit.btn-edit-site {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 !important;
    height: 100%;
}

.btn-edit.btn-edit-site .btn-edit-align-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

tr.site-wrapper > td {
    vertical-align: middle !important;
}

tr.site-wrapper .btn-action {
    font-size: 13px;
}

#frm-password .g-recaptcha > div {
    margin: 0 auto;
}

#user-password #frm-password .g-recaptcha > div {
    margin: 0;
}

hr.content-divider-white {
    border-top: 1px solid #fff;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-14 {
    font-size: 14px;
}

.vertical-align-text-top {
    vertical-align: text-top;
}

.vertical-align-middle {
    vertical-align: middle;
}

th.vertical-align-middle {
    vertical-align: middle !important;
}

.bg-fff {
    background-color: #fff;
}

.display-inline-block {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-weight: bold;
}

ul.treeview-menu li a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-group.open a.dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-product-dragger i {
    font-size: 18px;
}

.product-name-link {
    font-size: 15px;
    line-height: 46px;
}

.product-wrapper .btn-action {
    font-size: 14px;
}

.product-th:first-child {
    font-size: 19px;
}

.sidebar-menu .treeview-menu > li > a.lnk-dashboard {
    padding-right: 30px;
}

.line-height-30 {
    line-height: 30px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 992px) {
    .modal-xl {
        width: 900px;
    }
}

@media (min-width: 1360px) {
    .modal-xl {
        width: 1300px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .login-control, .register-control {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .logo-desktop {
        display: none;
    }
}

@media (max-width: 991px) {
    .main-header .navbar-custom-menu a.btn-success, .main-header .navbar-right a.btn-success {
        background: #00a65a !important;
    }
}

@media only screen and (max-width: 767px) {
    .skin-black-light .main-header > .logo {
        background-color: #fff;
    }

    .skin-black-light .main-header > .logo:hover {
        background-color: #fff;
    }
}

/*preloader*/
/*

      Preloader
______________________________________________________________
*/
.coll-site-preloader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #D35400;

    z-index: 99999;
}

.coll-site-preloader .coll-preloader-container {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    margin: auto auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.coll-site-preloader .spinner {

    width: 60px;
    height: 60px;

    /* margin: 100px auto; */
    background-color: #fff;

    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}

.datepicker {
    z-index: 9999 !important;
}

.callout.callout-primary {
    border-color: #248fb9;
    color: #fff !important;
    background-color: #487a9e !important;
}

.main-header .header-label {
    float: left;
    background: transparent none;
    padding: 13px 13px;
    font-size: 17px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: default;
}

.main-header .header-label:focus,
.main-header .header-label:active {
    background: transparent;
}

.skin-blue .main-header .navbar .header-label {
    color: #fff;
}

.sidebar-divider {
    border-color: #515b63;
}

.subscription-panel {
    color: #d3d3d3;
}

.subscription-panel .block-button-container {
    padding: 10px;
}

.subscription-panel .block-button-container a {
    color: white;
}

.advanced-notifications {
    margin-bottom: 20px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background-color: #487a9e;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/*icheck*/
/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: 0 0;
}

.icheckbox_square-blue.hover {
    background-position: -24px 0;
}

.icheckbox_square-blue.checked {
    background-position: -48px 0;
}

.icheckbox_square-blue.disabled {
    background-position: -72px 0;
    cursor: default;
}

.icheckbox_square-blue.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-blue {
    background-position: -120px 0;
}

.iradio_square-blue.hover {
    background-position: -144px 0;
}

.iradio_square-blue.checked {
    background-position: -168px 0;
}

.iradio_square-blue.disabled {
    background-position: -192px 0;
    cursor: default;
}

.iradio_square-blue.checked.disabled {
    background-position: -216px 0;
}

.select2-search__field::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.select2-search__field:-ms-input-placeholder {
    color: #999;
}

.select2-search__field::-webkit-input-placeholder {
    color: #999;
}

.select2-search:first-child {
    width: 100% !important;
}

.select2-search:first-child .select2-search__field {
    width: 100% !important;
}

.select2-selection__rendered {
    padding-left: 12px;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(../images/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}